body {
  display: flex;
  flex-flow: column wrap;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
}

.App-link {
  color: #61dafb;
}

.textarea {
  height: 200px;
  border: 1px solid #26a69a;
  outline: none;
  padding: 2px;
  max-width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 450px;
}
